[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "vendor/enet"]
	path = vendor/enet
	url = https://github.com/lsalzman/enet.git
